<style>
  .dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 1em;
  }

  .box > * {
    margin: 0.25em 0;
  }

  /* Tablet breakpoint */
  @media (max-width: 768px) {
    .dashboard {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Smartphone breakpoint */
  @media (max-width: 480px) {
    .dashboard {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .box-title {
    font-size: 0.85em;
    font-weight: lighter;
  }

  .metric-value {
    font-size: 2em;
    font-weight: bold;
  }

  .summary {
    font-size: 0.65em;
    margin: 0.5em 0 1.2em;
  }

  .change-over-period {
    font-size: 0.65em;
    margin: 1.2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .change-over-period-pill {
    padding: 0.25em 0.5em;
    margin-right: 0.25em;
    border-radius: 8px;
    /* border: 1px solid #000; */
  }

  .table table {
    width: 100%;
    font-size: 0.65em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  .dashboard-nav {
  }

  .dashboard-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .dashboard-nav li {
    font-size: 0.9em;
  }

  .dashboard-nav a {
    text-decoration: none;
    color: #007bff;
  }

  .dashboard-nav a:hover {
    text-decoration: underline;
  }

  .dashboard-nav ul li:not(:last-child)::after {
    content: "·";
    margin: 0 0.5em;
  }
</style>

<h1><%= @dashboard.name %></h1>

<nav class="dashboard-nav">
  <ul>
    <% Dashboards.configuration.dashboards.each_with_index do |dashboard, index| %>
        <li><%= (dashboard.slug == @dashboard.slug) ? "<u>#{dashboard.name}</u>".html_safe : link_to(dashboard.name, dashboard_path(dashboard.slug)) %></li>
    <% end %>
  </ul>
</nav>

<div class="dashboard">

  <% @dashboard.boxes.each do |box| %>
    <div class="box">
      <h3 class="box-title"><%= box.name %></h3>
      <% box.elements.each do |element| %>
        <%= element.render(self).html_safe %>
      <% end %>
    </div>
  <% end %>

</div>