<h1><%= @dashboard.name %></h1>

<nav class="dashboard-nav">
  <ul>
    <% Dashboards.configuration.dashboards.each_with_index do |dashboard, index| %>
        <li><%= (dashboard.slug == @dashboard.slug) ? "<u>#{dashboard.name}</u>".html_safe : link_to(dashboard.name, dashboard_path(dashboard.slug)) %></li>
    <% end %>
  </ul>
</nav>

<div class="dashboard">

  <% @dashboard.boxes.each do |box| %>
    <div class="box">
      <h3 class="box-title"><%= box.name %></h3>
      <% box.elements.each do |element| %>
        <%= element.render(self).html_safe %>
      <% end %>
    </div>
  <% end %>

</div>