.metric-value {
  font-size: 2em;
  font-weight: bold;
}

.summary {
  font-size: 0.65em;
  margin: 0.5em 0 1.2em;
}

.change-over-period {
  font-size: 0.65em;
  margin: 1.2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-over-period-pill {
  padding: 0.25em 0.5em;
  margin-right: 0.25em;
  border-radius: 8px;
}

.table table {
  width: 100%;
  font-size: 0.65em;
}

.table th,
.table td {
  border: none;
}

.table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}